<div class="card" style="width: 100%; margin-bottom: 16px; padding-top: 16px">
    <img src="/images/user.png" class="card-img-top" style="width: 100px; margin: 0 auto" alt="icon">
    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{Fullname}}</h5>
        <p class="card-text" style="text-align: center;">User</p>
        <a href="/user/info" class="btn btn-primary" style="margin: 0 auto; display: block; background: transparent; color: #0E6EFD">Detail</a>
    </div>
</div>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link {{#if activeMedicine}}active{{/if}}" href="/user/medicine">Medicine</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if activeLocation}}active{{/if}}" href="/user/payment">Payment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if activeHistory}}active{{/if}}" href="/user/history">History</a>
    </li>
</ul>

