<div class="text-center">
    <p class="text-warning fs-1 my-4"><b>ADMIN PAGE</b></p>
    <div class="col-2 text-center mt-3 mx-auto">
        <a class="btn text-dark btn-info col-12 my-2" style="font-weight: 550;" href="/admin/managerList">Manage Managers</a>
        <a class="btn text-dark btn-info col-12 my-2" style="font-weight: 550;" href="/admin/hospitalList">Manage Hospitals</a>
        <a class="btn text-dark btn-info col-12 my-4" style="font-weight: 550;" href="/">Logout</a>
    </div>
</div>