<div class="text-center">
    <h1>ADMIN HOME</h1>
    <div class="col-2 text-center mt-3 mx-auto">
        <a class="btn btn-info col-12 my-2" href="/admin/managerList">Manage Managers</a>
        <a class="btn btn-info col-12 my-2" href="/admin/hospitalList">Manage Hospitals</a>
        <a class="btn btn-info col-12 my-4">Logout</a>
    </div>
</div>