<table id="managerHistoryTable" class="table table-striped table-bordered caption-top align-middle mx-auto">
    <caption>Action history of {{manager}}</caption>
    <thead>
        <tr class="bg-info text-center">
            <th scope="col" class="col-1">No.</th>
            <th scope="col" class="col-8">Action</th>
            <th scope="col" class="col-3">Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="text-center">1</th>
            <td>Lorem ipsum dolor sit amet consectetuer</td>
            <td>Tue Jan 10 2022 15:44:00</td>
        </tr>
        <tr>
            <th scope="row" class="text-center">2</th>
            <td>Lorem ipsum dolor sit amet consectetuer</td>
            <td>Tue Jan 10 2022 15:44:00</td>
        </tr>
        <tr>
            <th scope="row" class="text-center">3</th>
            <td>Lorem ipsum dolor sit amet consectetuer</td>
            <td>Tue Jan 10 2022 15:44:00</td>
        </tr>
    </tbody>
</table>