#loginForm {
    width: 20%;
}

#addUserForm {
    width: 50%;
}

#addManagerForm {
    width: 25%;
}

#managerHistoryTable {
    width: 70%;
}

#managerListTable {
    width: 70%;
}

#hospitalListTable {
    width: 80%;
}

#addHospitalForm {
    width: 40%;
}

#editHospitalForm {
    width: 40%;
}

#userInfo {
    font-weight: 450;
}

.mlabel {
    font-weight: 600;
}

.medicineCard {
    width: 100%;
    height: 50%;
}