<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand">Danh Sách Người Liên Quan Với Bệnh Nhân: Trần
          Tuấn Vũ</a>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="text"
            placeholder="Search for names.."
            aria-label="Search"
            id="myInput"
            onkeyup="myFunction()"
          />
          <!-- <button class="btn btn-outline-light" type="submit">Search</button> -->
        </form>
      </div>
    </nav>

    <table class="table table-bordered border-dark table-striped" id="myTable">
      <thead>
        <tr>
          <th class="text-center" scope="col">STT</th>
          <th class="text-center" onclick="sortTable(0)" scope="col">Họ Tên</th>
          <th class="text-center" onclick="sortTable(1)" scope="col">
            CMND / CCCD
          </th>
          <th class="text-center" onclick="sortTable(2)" scope="col">
            Năm Sinh
          </th>
          <th class="text-center" onclick="sortTable(3)" scope="col">Nơi Ở</th>
          <th class="text-center" onclick="sortTable(4)" scope="col">
            Tình Trạng Hiện Tại
          </th>
          <th class="text-center" onclick="sortTable(5)" scope="col">
            Nơi Đang Điều Trị / Cách Ly
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-center">1</th>
          <td class="text-center">Phan Phú Hưng</td>
          <td class="text-center">194965826</td>
          <td class="text-center">1996</td>
          <td class="text-center">Quảng Bình</td>
          <td class="text-center">F4</td>
          <td class="text-center">Chung Cư Thuận Kiều</td>
        </tr>
        <tr>
          <th scope="row" class="text-center">2</th>
          <td class="text-center">Phan Ðức Toản</td>
          <td class="text-center">194754856</td>
          <td class="text-center">1997</td>
          <td class="text-center">Đồng Nai</td>
          <td class="text-center">F4</td>
          <td class="text-center">Chung Cư VinHome</td>
        </tr>
        <tr>
          <th scope="row" class="text-center">3</th>
          <td class="text-center">Phan Duy Bảo</td>
          <td class="text-center">194125465</td>
          <td class="text-center">2003</td>
          <td class="text-center">Nghệ An</td>
          <td class="text-center">F4</td>
          <td class="text-center">Chung Cư Hà Đô</td>
        </tr>
        <tr>
          <th scope="row" class="text-center">4</th>
          <td class="text-center">Phan Anh Tú</td>
          <td class="text-center">194854695</td>
          <td class="text-center">1999</td>
          <td class="text-center">Hà Nội</td>
          <td class="text-center">F4</td>
          <td class="text-center">Chung Cư Thuận Kiều</td>
        </tr>
        <tr>
          <th scope="row" class="text-center">5</th>
          <td class="text-center">Phan Hồng Việt</td>
          <td class="text-center">194585665</td>
          <td class="text-center">2000</td>
          <td class="text-center">Thanh Hóa</td>
          <td class="text-center">F4</td>
          <td class="text-center">Chung Cư VinHome</td>
        </tr>
      </tbody>
    </table>

    <script>
      function sortTable(n) { var table, rows, switching, i, x, y, shouldSwitch,
      dir, switchcount = 0; table = document.getElementById("myTable");
      switching = true; //Set the sorting direction to ascending: dir = "asc";
      /*Make a loop that will continue until no switching has been done:*/ while
      (switching) { //start by saying: no switching is done: switching = false;
      rows = table.rows; /*Loop through all table rows (except the first, which
      contains table headers):*/ for (i = 1; i < rows.length - 1; i++) { //start
      by saying there should be no switching: shouldSwitch = false; /*Get the
      two elements you want to compare, one from current row and one from the
      next:*/ x = rows[i].getElementsByTagName("TD")[n]; y = rows[i +
      1].getElementsByTagName("TD")[n]; /*check if the two rows should switch
      place, based on the direction, asc or desc:*/ if (n !== -1 && (n !== 1) &
      (n !== 2)) { if (dir == "asc") { if (x.innerHTML.toLowerCase() >
      y.innerHTML.toLowerCase()) { //if so, mark as a switch and break the loop:
      shouldSwitch = true; break; } } else if (dir == "desc") { if
      (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) { //if so, mark as
      a switch and break the loop: shouldSwitch = true; break; } } } else { if
      (dir == "asc") { if (Number(x.innerHTML) > Number(y.innerHTML)) { //if so,
      mark as a switch and break the loop: shouldSwitch = true; break; } } else
      if (dir == "desc") { if (Number(x.innerHTML) < Number(y.innerHTML)) { //if
      so, mark as a switch and break the loop: shouldSwitch = true; break; } } }
      } if (shouldSwitch) { /*If a switch has been marked, make the switch and
      mark that a switch has been done:*/ rows[i].parentNode.insertBefore(rows[i
      + 1], rows[i]); switching = true; //Each time a switch is done, increase
      this count by 1: switchcount++; } else { /*If no switching has been done
      AND the direction is "asc", set the direction to "desc" and run the while
      loop again.*/ if (switchcount == 0 && dir == "asc") { dir = "desc";
      switching = true; } } } } function myFunction() { // Declare variables var
      input, filter, table, tr, td, i, txtValue; input =
      document.getElementById("myInput"); filter = input.value.toUpperCase();
      table = document.getElementById("myTable"); tr =
      table.getElementsByTagName("tr"); // Loop through all table rows, and hide
      those who don't match the search query for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0]; if (td) { txtValue =
      td.textContent || td.innerText; if (txtValue.toUpperCase().indexOf(filter)
      > -1) { tr[i].style.display = ""; } else { tr[i].style.display = "none"; }
      } } }
    </script>
  </body>
</html>